/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.jfx-combo-box {
	-fx-background-color:   #BCAB79;
}

.jfx-combo-box .label {
	-fx-background-color:  WHITE;
	-fx-text-fill: RED;
	-jfx-unfocus-color: WHITE;
}